:root {
  /* fonts */
  --main-font: 'Figtree', serif;

  /* font weights */
  --figTree_extraBold: 800;
  --figTree_medium: 500;

  /* font-size */
  --font-size24: 1.5rem; /*24px*/
  --font-size16: 1rem; /* 16px */
  --font-size14: 0.875rem; /* 14px */

  /* colors */
  --Yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--Yellow);
  font-family: var(--main-font);
}

.card {
  background-color: var(--white);
  max-width: 100%;
  width: 20rem;
  border-radius: 20px;
  box-shadow: 8px 8px black;
  padding: 1.5rem;
}

.card img {
  width: 100%;
  padding-bottom: 1.5rem;
  border-radius: 10px;
}

.content {
  display: grid;
  justify-items: left;
  gap: 0.75rem;
}

.content button {
  border-radius: 4px;
  font-weight: var(--figTree_extraBold);
  font-size: 0.75rem;
  line-height: 150%;
  padding: 0.25rem 0.75rem;
  background-color: var(--Yellow);
  text-transform: capitalize;
  color: var(--gray-950);
}

.publish_date {
  text-transform: capitalize;
  font-size: var(--font-size14);
  font-weight: var(--figTree_medium);
  color: var(--gray-950);
  line-height: 150%;
}

.heading-content {
  color: var(--gray-950);
  font-size: 1.25rem; /**/
  font-weight: var(--figTree_extraBold);
  line-height: 150%;
}

.text-content {
  color: var(--gray-500);
  font-size: var(--font-size14);
  font-weight: var(--figTree_medium);
  line-height: 150%;
}
